body{
    background-image: url('../media/4515522628_a8f807fb6c_b.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-color: #0e90d2;
}

.main-wrapper {
    margin: 0 auto;
    /*width: 75%;*/
    min-width: 300px;
}
.house-list {
    border: solid black 2px;
    margin: 10px auto;
    background-color: rgba(182, 176, 192, 0.54);
    padding: 10px;
    border-radius: 20px;
}

.house-list:hover {
    background-color: rgba(203, 195, 211, 0.88);
}

.aptInput {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: end;
}

.room-wrapper {
    /*width: 20%;*/
    margin: 5px auto;

}

.room-container {
    border: solid black 2px;
    background-color: aliceblue;
    width: 100%;
    border-radius: 10px;
    text-align: center;

}

.room-inputs {
    margin: auto;
}

.map-class {
    width: 200px;
    height: 200px;
}

.room-info {
    display: block;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.room-slide {
    height: 0;
    transition: height .5s;
}

/*GOOGLE MAPS STYLING*/

/*.map {*/
    /*height: 200px;*/
    /*width: 200px;*/
    /*position: inherit;*/
    /*right: 0;*/
    /*display: inline-block;*/
/*}*/

